.App {
  text-align: center;
}


.login, .page-not-found{
  display: flex;
  background-color: black;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 2vmin);
  color: white;
  width: 100%;
  min-height: 100vh;
  height: 100%; 
}

.form-login {
  display: flex;
  flex-direction:  column;
  justify-content: center;
}


.Acoes {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(17px + 2vmin);
}

.header {
  display: flex;
  flex-direction: column;
  font-size:calc(10px + 2vmin) ;
  align-items: center;
  background-color: rgb(127, 129, 131);
  width: 100%;
}

table  {
text-align: center;
  width: 100%;
  border-collapse: collapse;
  
}
.minhas-acoes , .meu-Comercio, .meu-Saldo{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 2vmax;
  padding: 5%;
  margin-top: 5%;
  width: 95%;
}

.titulo-tabela {
  align-self: center;
}

.minhas-acoes-header {
  padding-bottom: 2%;
}

.container-footer {
  bottom: 0px;
  position: fixed;
  display: flex;
}

.footer{
  width: 70%;
  border-radius: 25px;
  background-color: rgb(47, 46, 48);
  color: rgb(154, 152, 149);
  font-size: 3vh;
  padding: 1%;
}

.form-depositar-retirar {
  display: flex;
  width: 100%;
}

.container-button-input {
 display: flex;
 align-content: space-around;
}

.button-depositar, .button-retirar {
  width: 50%;
  border-radius: 25px;
  background-color: rgb(6, 79, 80);
  color: white;
  font-size: 2vh;
  padding: 1%;
  margin: 2%;
  box-sizing: content-box;
}

.button-retirar {
  background-color: rgb(111, 36, 28);
 margin: 1vh;
 font-size: calc( 2px + 2vh);

}

.container-button-input {
  display: flex;
}